body {
background:#FDFDFD;
}

#header {
height:53px;
}

#headerinner {
height:53px;
}

#headerfade {
top:50px;
}

#features .col1, #faqs .col1, #releases .col1 {
width:900px;
}

#features .col1 h5, #faqs .col1 h5, #releases .col1 h5 {
letter-spacing: 1px;
}

a {
color:#CA211E;
}

a:hover {
border-color:#CA211E;
}

h2.heading span {
color:#bababa;
}

ul#list {
list-style:circle;
}

ul#list li {
margin:1px 1px 10px 20px;
padding:1px 1px 1px 20px;
}

ul.screenshots li a img {
border-width:1px;
border-color:#CA211E;
border-style:solid;
}
